<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WatchTower.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="WatchTowerDB" connectionString="data source=WatchTower.db;version=3;legacy format=True" providerName="System.Data.SQLite" />
    <add name="WatchTower.Properties.Settings.WatchTowerDB" connectionString="data source=WatchTower.db;version=3;legacy format=True" providerName="System.Data.SQLite" />
    <add name="WatchTowerEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SQLite;provider connection string=&quot;data source=WatchTower.db;version=3;legacy format=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <userSettings>
    <WatchTower.Properties.Settings>
      <setting name="MoviePath" serializeAs="String">
        <value>C:\ws</value>
      </setting>
      <setting name="EpisodePath" serializeAs="String">
        <value>C:\ws\bolt</value>
      </setting>
      <setting name="ShareMoviePath" serializeAs="String">
        <value />
      </setting>
      <setting name="ShareEpisodePath" serializeAs="String">
        <value />
      </setting>
      <setting name="FontSize" serializeAs="String">
        <value>10</value>
      </setting>
    </WatchTower.Properties.Settings>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>